<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout"
>
<head>
    <link href="/css/components/user/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main layout:fragment="main">
        <section class="login-form">
            <h1 class="heading-7 text-align:center">Rland Login</h1>
            <div>
                너 가입한거야...
                <a href="">로그인</a>
            </div>
        </section>
    </main>
</body>
</html>